[submodule "click"]
	path = click
	url = https://github.com/pallets/click
[submodule "sliver"]
	path = sliver
	url = https://github.com/labs-lang/sliver
[submodule "labs-examples"]
	path = labs-examples
	url = git@github.com:labs-lang/labs-examples.git
[submodule "cseq"]
	path = cseq
	url = git@github.com:lou1306/cseq.git
[submodule "absentee"]
	path = absentee
	url = git@github.com:lou1306/absentee.git
